
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name of the conference</th>
        <th scope="col">Country</th>
        <th scope="col">Conference website</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Antarcticonf The Conference At The Edge Of The World</td>
        <td>Chile</td>
        <td>https://antarcticonf.com/</td>
        <td>05 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Trion All India Bootcamp</td>
        <td>India</td>
        <td>https://konfhub.com/trionbootcamp</td>
        <td>19 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>DELIVERY CONF</td>
        <td>USA</td>
        <td>https://www.deliveryconf.com</td>
        <td>21 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>AppSec California</td>
        <td>USA</td>
        <td>https://2020.appseccalifornia.org/</td>
        <td>21 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>NDC Security 2020</td>
        <td>Norway</td>
        <td>https://ndc-security.com/</td>
        <td>22 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Machine Learning Developers</td>
        <td>India</td>
        <td>https://www.mlds.analyticsindiasummit.com/</td>
        <td>22 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>NDC London 2020</td>
        <td>England</td>
        <td>https://ndc-london.com/</td>
        <td>27 Jan, 2020</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>"Distributed Systems Conference</td>
        <td>India</td>
        <td>hhttps://dsconf.in/</td>
        <td>01 Feb, 2020</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Data Business Congress 2020</td>
        <td>USA</td>
        <td>https://web.cvent.com/event/10240ffb-fa61-43b2-9038-73c9838049ae/summary</td>
        <td>03 Feb, 2020</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Microsoft Lgnite The Tour Washington</td>
        <td>USA</td>
        <td>https://www.microsoft.com/en-us/ignite-the-tour/washington-dc</td>
        <td>06 Feb, 2020</td>
      </tr>
    </tbody>
  </table>